/********************* CUSTOM COLORS **************************/

// ******** MinnMax Colors
$minnmax-orange: #FC5231;
$minnmax-dark-orange: #DA4326;

// ******** Nintendo Colors
$primary-red: #E70012;
$secondary-red: #C02C36;
$tertiary-red: #852E34;
$quaternary-red: #501C1F;


// ********** Playstation Colors
$ps-black: #1F1F1F;
$ps-alt-black: #353130;
$ps-gray: #9E9A99;
$ps-blue: #003791;

// ******** Xbox Colors
$xbox-light-green: #4A841B;
$xbox-green: #136210;
$xbox-gray: #C0C3BC;

/********************* END CUSTOM COLORS **************************/
